#rojo{
    position: absolute;
    top: 10px;
    left: 40px;
}
#azul{
    position: absolute;
    top: 50px;
    left: 185px;
}
#amarillo{
    position: absolute;
    top: 156px;
    left: 0px;
}
#verde{
    position: absolute;
    top: 195px;
    left: 145px;
}
img{
    opacity: 0.5;
    transition: all 1s;
}
img:hover{
    opacity: 1;
}
