body {
  background-color: #1a1a33;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1a1a33;
  padding: 20px;
}
p{
    color: white;
  opacity: 75%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

h2 {
  color: #99ccff;
  margin-bottom: 20px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
#nombre{
    color: #99ccff;
}
.subtitle {
  margin-top: 20px;
}

.technologies {
  margin-top: 20px;
}

.tech-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  margin-top: 10px;
}
.btn{
  background-color: #99ccff;
color:#1a1a33;
}


