body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#coche{
    height: 20px;
    width: 50px;
    background-image: url("f1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    rotate: 180deg;
}
#circuito{
    position: absolute;
    top: 105px;
    height: 650px;
    width: 1000px;
    background-image: url("SILVERSTONE.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    z-index: 0;

}

#svg{
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 3;
}
#car{
    width: 10px;
}
