* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-color: #fafafa;
}


#nombreInstagram {
    width: 100px;
    height: 25px;
}

#tagUser {
    float: left;
    color: #ffffff;
    padding: 10px;
    border-radius: 100%;
    background-color: #000000a3;
    position: absolute;
    bottom: 13px;
    left: 10px;
}

.fotoPerfil {
    border-radius: 100%;
    border: transparent;
    width: 75px;

}

.tiempoPublicacion {
    color: #999999;
}

#nav {
    height: 7em;
    border-bottom: 1px #dddddd solid;
}

@media screen and (min-width: 1200px) {
    #extra {
        position: absolute;
        bottom: 0;
    }

    #publicacion {
        margin: 0% 13em
    }

    #nav {
        height: 4em;

    }

}